@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body{
   background-color:black ;
}

.container{
   display:flex;
   height:600px;
   width:800px;
   align-items: center;
   justify-content: center;
   margin: 4rem 18rem;
   padding: 40px 47px;
}


.container img{
   height: 100%;
   width: auto;
   border-radius: 20px;
}

.about_details{
   margin: 0 45px;
}

.about_details span{
   color: grey;
}

.about_details h2{
   font-family: "Poppins";
   font-weight: 100;
   font-size: 26px;
   letter-spacing: 1px;
   margin-bottom: 20px;
}

.about_details p{
   color: gray;
   font-size: 15px;
}

.btn{
   margin: 15px;
   padding: 8px 20px;
   background-color: transparent;
   border:  1px solid grey;
   border-radius: 10px;
   letter-spacing: 1px;
   color: lightblue;
   cursor: pointer;
   transition: 0.3s ease-in;
}

.btn:hover{
   background-color: lightgrey;
   color: azure;
}