@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://images.unsplash.com/photo-1515821937231-c43ad7ed05fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
} 

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}

.contact .content p{
    font-weight: 300;
    color: #fff;
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{

    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container.containerInfo .box.icon
{
    min-width: 60px;
    height: 60px;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
}

.container .contactInfo .bpx .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .containerInfo .box .text h3{
    font-weight: 500;
    color: lightgrey;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
}

.contactForm h2{
    font-size: 30px;
    font-weight: 500;
}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #333;
}

.contactForm .inputBox input:focus ~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox input:focus ~span,
.contactForm .inputBox textarea:valid~span
{
    color: lightgrey;
    font-size: 12px;
    transform: translateY(-20px)
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: grey;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px

}
